<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Question</title>
    </head>

    <body>
        <h1>Add question</h1>
        <form action="/question/{{question_id}}" method="POST">
            <div>
                <p>Title</p>
                <textarea name="question_title" rows="2" cols="70"></textarea>
            </div>
            <div>
                <p>Question</p>
                <textarea name="question" rows="10" cols="70"></textarea>
            </div>
            <input type="submit" value="Submit question">
        </form>
        <form action="/list">
            <input type="submit" value="Go back">
        </form>
    </body>
</html







